<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>traveling</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegistServlet</display-name>
    <servlet-name>UserRegistServlet</servlet-name>
    <servlet-class>regist.UserRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistServlet</servlet-name>
    <url-pattern>/UserRegist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>login.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerLoginServlet</display-name>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <servlet-class>login.ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <url-pattern>/ManagerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteoneUserServlet</display-name>
    <servlet-name>DeleteoneUserServlet</servlet-name>
    <servlet-class>user.DeleteoneUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteoneUserServlet</servlet-name>
    <url-pattern>/DeleteoneUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>user.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryUserServlet</display-name>
    <servlet-name>QueryUserServlet</servlet-name>
    <servlet-class>user.QueryUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryUserServlet</servlet-name>
    <url-pattern>/QueryUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUserServlet</display-name>
    <servlet-name>SaveUserServlet</servlet-name>
    <servlet-class>user.SaveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUserServlet</servlet-name>
    <url-pattern>/SaveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUserServlet</display-name>
    <servlet-name>SelectUserServlet</servlet-name>
    <servlet-class>user.SelectUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUserServlet</servlet-name>
    <url-pattern>/SelectUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateoneUserServlet</display-name>
    <servlet-name>UpdateoneUserServlet</servlet-name>
    <servlet-class>user.UpdateoneUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateoneUserServlet</servlet-name>
    <url-pattern>/UpdateoneUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>user.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchLocationServlet</display-name>
    <servlet-name>SearchLocationServlet</servlet-name>
    <servlet-class>menu.SearchLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchLocationServlet</servlet-name>
    <url-pattern>/SearchLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdminServlet</display-name>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <servlet-class>admin.DeleteAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <url-pattern>/DeleteAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteoneAdminServlet</display-name>
    <servlet-name>DeleteoneAdminServlet</servlet-name>
    <servlet-class>admin.DeleteoneAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteoneAdminServlet</servlet-name>
    <url-pattern>/DeleteoneAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAdminServlet</display-name>
    <servlet-name>QueryAdminServlet</servlet-name>
    <servlet-class>admin.QueryAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAdminServlet</servlet-name>
    <url-pattern>/QueryAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveAdminServlet</display-name>
    <servlet-name>SaveAdminServlet</servlet-name>
    <servlet-class>admin.SaveAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAdminServlet</servlet-name>
    <url-pattern>/SaveAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAdminServlet</display-name>
    <servlet-name>SelectAdminServlet</servlet-name>
    <servlet-class>admin.SelectAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAdminServlet</servlet-name>
    <url-pattern>/SelectAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminServlet</display-name>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>admin.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/UpdateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateoneAdminServelt</display-name>
    <servlet-name>UpdateoneAdminServelt</servlet-name>
    <servlet-class>admin.UpdateoneAdminServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateoneAdminServelt</servlet-name>
    <url-pattern>/UpdateoneAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInformationServlet</display-name>
    <servlet-name>DeleteInformationServlet</servlet-name>
    <servlet-class>information.DeleteInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInformationServlet</servlet-name>
    <url-pattern>/DeleteInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteoneInformationServlet</display-name>
    <servlet-name>DeleteoneInformationServlet</servlet-name>
    <servlet-class>information.DeleteoneInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteoneInformationServlet</servlet-name>
    <url-pattern>/DeleteoneInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryInformationServlet</display-name>
    <servlet-name>QueryInformationServlet</servlet-name>
    <servlet-class>information.QueryInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryInformationServlet</servlet-name>
    <url-pattern>/QueryInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveInformationServlet</display-name>
    <servlet-name>SaveInformationServlet</servlet-name>
    <servlet-class>information.SaveInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveInformationServlet</servlet-name>
    <url-pattern>/SaveInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectInformationServlet</display-name>
    <servlet-name>SelectInformationServlet</servlet-name>
    <servlet-class>information.SelectInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectInformationServlet</servlet-name>
    <url-pattern>/SelectInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInformationServlet</display-name>
    <servlet-name>UpdateInformationServlet</servlet-name>
    <servlet-class>information.UpdateInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInformationServlet</servlet-name>
    <url-pattern>/UpdateInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateoneInformationServlet</display-name>
    <servlet-name>UpdateoneInformationServlet</servlet-name>
    <servlet-class>information.UpdateoneInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateoneInformationServlet</servlet-name>
    <url-pattern>/UpdateoneInformation</url-pattern>
  </servlet-mapping>
</web-app>